@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474747;
}
